# Port and Host Configuration
PORT=3001
BACKEND_URL="http://localhost:3001"

# Secrets
JWT_SECRET=""

# Database URL
DATABASE_URL=""

# Frontend URL
FRONTEND_URL="http://localhost:3000"

# Zavu WhatsApp Integration API Keys
ZAVU_SANDBOX_API_KEY=
ZAVU_LIVE_API_KEY=
